* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img[src$='#vh-center'] {
  display: block;
  margin: 8.0rem auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.2rem;
    margin: .7rem;
    margin-left: 1rem;
    font-family: 'Lobster', cursive;
    
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    padding: .3rem;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    font-family: Roboto;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}


.invisible-link {
    color: white;
    text-decoration: none;
}


@media (max-width: 800px) {
    .brand-title {
        margin: .7rem auto;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .social {
        margin: 0 auto;
        padding-bottom: 1rem;
    }
    .social a {
        text-decoration: none;
    }
    .social svg {
        margin: 0.3rem;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
